body{
  margin: 0;
}
/* solution with h1 only */
/* h1{
  font-size: 72px;
  color: #fff;
  background-color: #281B2D;    
  margin-top: 0;
  padding:3px 0;
  text-align: center;
} */

/* solution with header */
header{
  
   /* font-size: 72px; */
  color: #fff;
  background-color: #281B2D;    
  text-align: center;
  padding:20px;
 margin-bottom: 40px;
}

h1{
    font-size: 72px;
   margin: 0;
}

.subheading{
    font-size: 48px;
    color: #fcd801;
    background-color: #281b2d;
    border-bottom-width: 8px;
    border-bottom-style:solid;
    border-bottom-color: #00c54c;
  margin-top: 0;
}

.white-text{
     color: #fff;
}

.container{
   max-width:1000px;
   margin:0 auto;     
  padding:0 20px;
}
.column{
    display: flex;
}
.main-content {
    width: 65%;
    margin-right:5%;
}
.col-left{
    margin-right: 25px;
}
.sidebar{
    width: 30%;
    background-color: #9ae84f;
  padding: 20px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
} 
 a{
    color:#9138b7;
}
a:hover{
    color:teal; 
}
.sidebar p{
    font-size: 10px;
}