body{
    margin: 0;
}
header{
     background-color: #f8f8f8;
  padding: 2em 0;  
}
nav  ul{
    padding: 0;
    list-style: none;
   display: flex;    
  justify-content:center;
}
p{
 font-size: 1rem;  
color:#1792d2
}
ul  a{
   text-decoration: none;
  color:#707070
}

ul li{
   margin-left: 2em;
}
h1{
   margin-bottom: 0;
   color:#1792d2;
}
p,h1{
   margin-top: 0;
}

nav a:hover,
 a:focus{
     color: #1792d2;
 }

.current-page{
   border-bottom: 2px solid #707070;
}
nav .current-page:hover,.current-page:focus{
   color:#707070;
}


.container{
   width: 90%; 
    max-width: 900px;
   
    margin: 0 auto;
   }

.container-nav{
   display:flex;
   justify-content: space-between;

}
@media(max-width:675px){
   .container-nav{
      flex-direction: column;
   }
  header{
     text-align: center;
  }
  ul{
     display: flex;
     flex-direction:column;
   justify-content: center;
   }

   nav li{
      margin: .5em;
   }
}

.main{
   width:600px;
   border:2px solid red;
  margin:0 auto;
  display: flex;
 margin-top: 30px;
}

.container-1{
   border: 2px solid blue; 
   height:600px;
   width: 300px;
  margin-right: 5px;
}
.subcon{
   border:2px solid green;
  height: 30%;
 margin-bottom: 3px;

}   
.subcon1{
   height: 70%;
}




.col-3{
   width: 75%;
}

.col-1{
   width:25%;
}

























