 body{
    margin: 0;
  font-size: 1.24rem;
  font-weight: 300;   
}
img{
   max-width:100%;
  display:block;
}

footer{
   background-color: #345480;
   text-align: center;
  color:rgba(255,255,255,0.5);
  padding:3em 0;
}

header{
  background-color: #f8f8f8;
  padding: 2em 0;  
  text-align: center;
  margin-bottom: 2rem;
}
nav  ul{
    padding: 0;
    list-style: none;
   display: flex;    
  justify-content:center;
}
p{
 font-size: 1rem;  
}
ul  a{
   text-decoration: none;
  color:#707070;
  text-transform:capitalize;
  letter-spacing:2px;
}

ul li{
   margin-left: 2em;
}
h1,
h2,
h3{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 400;
   color:#1792d2;
 margin-top: 0;
}

h1{
   margin-bottom: 0;
}
p,h1{
   margin-top: 0;
}



.article-title{
   font-size: 1.5rem;
}

.articel-read-more,
.artice-info{
   font-size:.875rem;
}
.articel-read-more{
     color:#1792d2;
     font-weight: 700;  
     text-decoration: none;
}
.articel-read-more:hover,
.articel-read-more:focus{
   text-decoration: underline;
   color:#143774
}

.artice-info{
   margin:2em 0 ;
}
.article-feature{
  padding-bottom: 1.5em;
   border-bottom: #707070 2px solid;
 margin-bottom: 2em;
}


nav a:hover,
 a:focus{
     color: #1792d2;
 }

.current-page{
   border-bottom: 2px solid #707070;
}
nav .current-page:hover,.current-page:focus{
   color:#707070;
}


.container{
   width: 90%; 
    max-width: 900px;
    margin: 0 auto;
   }
 



   .container-flex{
   display:flex;
   justify-content: space-between;
   flex-direction: column;
}





  
ul{
   display: flex;
   flex-direction:column;
 justify-content: center;
 }

 nav li{ 
    margin: .5em;
 }

 @media (min-width:675px){
  
   .container-flex{
      flex-direction: row;
   }
   main{
      width:70%;
   margin-right:.5em;
   }
 aside{
    width:25%;
    min-width: 200px;

   }

 
 ul{
   display: flex;
   flex-direction:row;
 justify-content: center;
 }

}
.article-recent
{
   display: flex;
  flex-direction: column;
   margin-bottom: 2em;
}

.article-recent-main{
 order: 2;
}
.articel-recent-secondary{
   order:1;
}






@media(min-width:675px) 
{
  .article-recent{
  display: flex;
   flex-direction:row;
  justify-content: space-between;
}
.article-recent-secondary{
   width: 25%;
}
.article-recent-main{
 width: 70%;
}
.article-feature{
  display: flex;
  flex-direction: column;
}
 .artice-img{
    order: -2;
 }
.artice-info{
   order:-1;
}
.artice-img{
   width: 100%;
   height: 200px;
 object-fit:cover;
 /* object-position: left; */
}


}



/* widget*/

.sidebar-widget
{
   border: 10px solid lightgray;
 margin-bottom: 2em;
padding:10px;
}

.widget-recent-post-title,
.widget-title{
   font-size:1rem;
    letter-spacing: 1px;
}
.widget-recent-post
{
   display: flex;
  flex-direction: column;
  border-bottom: 5px solid lightgray;
  margin-bottom: 1em;
}

.widget-recent-post:last-child
{
   margin:0;
   border:0;
}
.widget-recent-post-title
{
   order:1;
}
.widget-images{
 order:-1;
}
.widget-title{
   font-weight: 700;
 }
























