html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: arial;
  text-shadow: 0px 0px 20px #aaaaaa;
}

main {
  box-sizing: border-box;
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}
p,
div {
  margin-top: 0px;
}

.top {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

div#crypto-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
span {
  margin-left: 5px;
  font-size: 25px;
}
p {
  margin: 0px;
}
#weather-top {
  display: flex;
  font-size: 25px;
}
