body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-image: url("poker-table.jpg");
    text-align: center;
   background-size: cover;
    background-repeat: no-repeat;
 color:black;
  font-weight: bold;
}
h1{
    color: goldenrod;
   font-size: 72px;
  }

.message-el{
  font-style: italic;
}
button{
     color:#016132;
     width:150px;
     background-color: goldenrod;
     padding: 5px;
     font-weight: bold;
     border:none;
     border-radius: 2px;
     margin-bottom: 2px; 
    margin-top: 2px;
    }

    p{
      font-size: 30px;
    }