header{
    background-color: #f8f8f8;
 padding:30px;
 display: flex;
 flex-direction: column;
  align-items: center;
}
 
ul li{
    list-style: none;
   margin:0;
}
ul li a{
    text-decoration: none;
   color:#707070 
}

ul{
    display: flex;
  width:500px; 
 justify-content: space-between;
}
p{
   margin: 0;
}
.heading{
  
}
.p1{
    font-size: 3.375rem;
}
.p2{
    font-size: 1rem;
 font-weight: 1rem;
}