 body{
     margin: 0;
 }
header{
      background-color: #f8f8f8;
    text-align: center;
   padding: 2em 0;  
}
 nav  ul{
     padding: 0;
     list-style: none;
    display: flex;    
   justify-content:center;
}
p{
  font-size: 1rem;  
 color:#1792d2
}
ul  a{
    text-decoration: none;
   color:#707070
}

ul li{
    margin:0 1em;
}
h1{
    margin-bottom: 0;
    color:#1792d2;
}
p,h1{
    margin-top: 0;
}

nav a:hover,
  a:focus{
      color: #1792d2;
  }

.current-page{
    border-bottom: 2px solid #707070;
}
nav .current-page:hover,.current-page:focus{
    color:#707070;
}










