* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}
/* h1+p first sibling of h1 if p is there */
/* h1  */
h1 + p {
  color: #f18110;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}
h2 + p {
  color: #f18110;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

strong {
  font-weight: 900;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: orange;
  text-transform: uppercase;
  order: -1;
  border-top: 5px solid #f18110;
  margin: 0;
  padding-top: 2px;
  letter-spacing: 2px;
  border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}
.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* intro section */
.intro-main {
  background-image: url("../images/dark-ribs.jpg");
  background-size: cover;
  background-color: lightgray; /*during loading time if image not display then color */
  background-blend-mode: multiply;
  background-position: center;
  padding: 0 0.25em 1em;
}
.main-content {
  padding: 2em 1em;
}

/* .intro-main > *,     > mean all direct child
.main-content > * {
  max-width: 400px; /*element is not stretch more then 400px
  margin-left: auto;
  margin-right: auto;
}
*/
.container {
  max-width: 400px;
  margin: 0 auto;
}
.container-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.email-collector {
  width: 80%;
  max-width: 300px;
}
input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input {
  margin-bottom: 0.75em;
  padding: 0.25em;
  font-family: inherit;
  text-align: inherit; /*it center the placeholder or we write center*/
  border: 1px solid #404040;
  transform: scale(1);
  transition: transform 1s;
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}
.btn-primary {
  background-image: linear-gradient(to left, #ff713b, #ffa51d);
  color: #fff;
  transform: scale(1);
  transition: transform 1s;
}

.btn-primary:hover,
.btn-primary:focus {
  color: black;
  transform: scale(1.1);
}

input:hover,
input:focus {
  transform: scale(1.1);
}
/* media */

@media (min-width: 530px) {
  body {
    font-size: 1.25rem;
    display: flex;
  }
  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }

  .intro-main,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-intro {
    height: 100%; /*100% of parent vh intro-main if we use 100vh then it parent also have 100 vh so it gate some scroll due to padding*/
  }
}
