body{
    font-size: 1.125rem;
}
span{
    color:#b78325
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 1.5rem;
}
p{
    margin-top: 0;
}
img{
    max-width: 100%;
   height: 200px;   
}





.container{
    max-width: 980px; 
   margin: 0 auto;
}
.columns{
    display:flex;
   margin: 1em 0;
 justify-content: space-between;
}

.colum-dark{
    background-color: #312614;
   color:#fff;
    padding: 1em;
}

.col-1{
   width:20%;
}
.col-3{
  width:70%;
}
.col-2{
   width:45%;

}


@media(max-width:600px){
    .columns{
        flex-direction: column;
    }

    .col-1,.col-2,.col-3{
        width: 100%;
    }
    
    }
    

